*{
margin:0;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}


.popup {
    background-color: rgb(180, 156, 229);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-size: small;
}

.close-popup {
    cursor: pointer;
    font-weight: bold;
}


/* navbar */
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
     position:sticky;
    top:0;
    background-color:white;
}
.navbar a {
  text-decoration: none;  
  color: inherit;         
}


.navbar a:hover {
  cursor: pointer;
  opacity: 0.8;
}
.options {
 display:none;
}
.menu{
  display: block;
    font-size: 24px;
    cursor: pointer;
    margin-right:20px;
}
@media (min-width:768px) {
  .options {
    display:flex;
  justify-content: space-around;
  gap: 34px;
  margin-right: 20px;
  }
  .menu {
    display:none;
  }
}

/* image */
.slider{
  width:fit-content;
  height:auto;
  border-radius:10px;
  position:relative;

}
img{
  width:100%;
  border-radius: 5px;
}

.desc{
  position:absolute;
  top:10px;  
  width:100%;
  height:100%

}
.desc h2,h3{
  color:white;
  font-size:large;
  text-align: center;
  padding-top:5%;

}
.btn{
  position:absolute;
  bottom:30px;
  left:40%;
  background-color: rgb(180, 156, 229);
}

.arrows{
  margin-top:40%;
  margin-left:20px;

}
.arrow-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
}

@media (min-width:768px) {
  .desc h2{
    font-size:60px;
  }
  .desc h3{
    font-size:60px;
  
}
.slider {
  width: 100%; 
}

 .btn{
    left:45%;
    bottom:10%;
    padding:20px;
 }
}

/* brands */
.brands{
  width:97%;
  height:150px;
  padding-bottom:10px;
 margin-bottom:30px;
  margin-top:5px;
  
}

.card{
  width:100%;
  height:50%;
  display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 2vw;
  
  

}
.brands img{
    width:4vw;
}

@media (min-width:768){
  .brands img{
    width:1vw;
  }
  
.card{
    font-size:1.5vw;
}
}
/* containers */
.container1 {
  display:flex;
 justify-content: space-between;
 align-items: center;
 padding:10px;
}

.container2 {
  display:flex;
  justify-content: space-around;
  align-items:center;
  gap:20px;
  padding:10px;
}

.card21 {
  background-color: lavender;
  border-radius: 15px;
  padding: 20px;
}
.card21 i{
  font-size: 30px;
}
.card21 h4{
  margin-top: 10px;
  font-weight: 200;
  font-size:larger;
}
@media (max-width:768px) {
  .container2 {
    flex-direction: column;
    gap: 10px;
  }
}

/* new Ariivals */
.newarrivals{
  display:flex;
  gap:5%;

}
.new-title {
  padding:20px;

}
.card3 {
  width:25%;
  height:fit-content;
  position:relative;

}
.image{
  width:fit-content;
  height:fit-content;
  opacity:0.6;

}

.shopbtn {
  display:flex;
  justify-content: center;
  align-items: center;  
  width:100%;
}
.b1{
  padding:10px 20px;
  font-size:16px;
  cursor:pointer;
  background-color: rgb(183, 175, 223); 
  top:50%;
  position:absolute;
  border-radius:5px;
  border:none;
}

/*Most Wanted Section  */
.mostwanted {
  padding: 20px;
}

.most-title h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.most-containers {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
}


.most-containers::-webkit-scrollbar {
  display: none;
}

.most-containers {
  scrollbar-width: none;
}

.mc1 {
  min-width: 200px;    
  flex-shrink: 0;
  position: relative;
  scroll-snap-align: start;
  width:25%;
  height:fit-content;
}

.mimage img {
  
  border-radius: 12px;
  display: block;
}

.sale-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgb(119, 89, 179);
  color: white;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 6px;
}

.favbtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width:10%;
  cursor:pointer;
}
/* poster */
.poster {
  height:400px;
  width:100%;
  background:rgb(113, 63, 213);
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.content {
  width:40%;
}
.content1 {
  font-size:x-large;
  color:white;
}
.b2{
  padding:10px 20px;
  border:none;
  border-radius:5px;
}

@media (max-width:768px) {
  .poster {
    flex-direction: column;
    height:fit-content;
    padding:20px;
    gap:20px;
    margin-right: 5%;
  }
  .content {
    width:100%;
    text-align: center;
  }
}

/* news letter */
.search{
  margin-top:5%;
}
.search-title{
  font-size: large;
  font-weight: 300;
  text-align: center;
}

.search-desc{
  text-align: center;
  font-size: medium;
  font-weight: 300;
  color:black
}
.sbtn{
 display:flex;
 justify-content: center;  
 align-items: center;
 margin-top:10px;
 
}
.search-box{
  display:flex;
  justify-content: center;
  align-items: center;
}
.search-box input{
  width:70%;
  border-color: rgb(119, 89, 179) ;
}
.b3{
  background-color:rgb(113, 63, 213) ;
  border-radius:5px;
  color:white;
  padding:10px 15px;
  border:none;
}

/* footer */
.footer{
  padding: 20px;
  margin-top:5%;
  background-color:rgb(113, 63, 213) ;
  width:100%;
}
  


.footer-title{
  font-size: large;
  font-weight: 400;
  color:white;
}
.footer-desc{
  font-size: medium;
  font-weight: 100;
  color:white;

}
.footer-logo{
 display :flex;
 gap:10px;
}
.footer-copy{
 color:white;
}

